
<div id="wrapper" class="active">
      
  <!-- Sidebar -->
        <!-- Sidebar -->
  <div id="sidebar-wrapper">
  <ul id="sidebar_menu" class="sidebar-nav">
       <li class="sidebar-brand"><a>Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
  </ul>
    <ul class="sidebar-nav" id="sidebar">     
      <li><a href="" (click)="$event.preventDefault();onClickGeet()" >Geet<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
      <li><a href="#">All Geets<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
      <li><a href="" (click)="$event.preventDefault();onClickProfile()">Profile<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
      <li><a href="" (click)="$event.preventDefault();onClickLogout()" >Log Out<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    </ul>
  </div>
      
  <!-- Page content -->
  

<!--Form for geet value and its button to geet value add to the array-->
<div *ngIf="enableGeet" class="geetFormStyles">
<form (ngSubmit)="geetFormSubmit(geetForm)" #geetForm="ngForm">
  <textarea class="form-control textareacontrol" id="" cols="30" rows="10" ngModel [(ngModel)]="textareaValue"
    name="geetBox"></textarea>
  <input class="file-input" type="file" name="fileUploadTag" ngModel (change)="onSelectFile($event)">
  <ng-container *ngIf="url!=''">
    <img [src]="url" width="75" height="75">
  </ng-container>
  <button class="btn btn-primary">Geet</button>
</form>
<!--iterating the geetvalue array using ngfor to dispaly one by one.-->
<div *ngIf="geetForm.submitted">
  <ng-container *ngFor="let geets of geetValue">
    <label class="form-control textareacontrol">{{geets}}</label>
  </ng-container>
  <div *ngIf="geetForm.submitted">
    <ng-container *ngFor="let img of geetImages">
      <img [src]="img" width="75" height="75"><br />
      <hr />
    </ng-container>
  </div>
</div>
</div>


<div class="limiter" *ngIf="enableProfile">
  <div class="container-login100">
      <div class="wrap-login100 p-t-85 p-b-20 border border-primary">
  <form (ngSubmit)="onSignUp(signUpForm)" #signUpForm="ngForm">
    <div>
      <img title="Glitter" class="logo" src="/assets/icongrammarly.png" id="icon" alt="User Icon" />
    </div>
    <div class="form-group">
      <input type="text" placeholder="User Name" id="username" required ngModel name="username"
        [ngClass]="{'textboxInvalid': signUpForm.submitted && username==''}" class="form-control" />
    </div>
    <div class="form-group">
      <input type="Email" placeholder="email" id="email" name="email" class="form-control"
        [ngClass]="{'textboxInvalid': signUpForm.submitted && email ==''}" ngModel required />
    </div>
    <div class="form-group">
      <input type="Password" placeholder="password" id="password" ngModel name="password"
        [ngClass]="{'textboxInvalid': signUpForm.submitted && password==''}" class="form-control" />
    </div>
    <div class="form-group">
      <input type="text" placeholder="Phone Number" id="phoneNumber" ngModel name="phoneNumber" required
        [ngModel]="phoneNumber" minlength="10" [ngClass]="{'textboxInvalid': signUpForm.submitted && phoneNumber=='' }"
        class="form-control" />
    </div>
    <button class="btn btn-primary signup" type="submit">Update</button>
  </form>
</div>
</div>
</div> 
<router-outlet></router-outlet>


