<div>
    <form (ngSubmit)="onLogin(login)" #login="ngForm">
        <div>
            <img title="Glitter"class="logo" src="/assets/icongrammarly.png" id="icon" alt="User Icon" />
            
        </div>
            <div class="form-group" >
                <input type="email" placeholder="email" id="email"  name="email" class="form-control"
                [ngClass]="{'textboxInvalid': login.submitted && email=='' }" ngModel/>
            </div>
            <div class="form-group">
                <input type="password" placeholder="password"id="password" ngModel name="password" 
                [ngClass]="{'textboxInvalid': login.submitted && password=='' }"class="form-control"/>
            </div>
            <button class="btn btn-primary login" type="submit" >Log In</button>            
        </form>
</div>     

<div *ngIf="success">
    
</div>
 
