<!--Form for geet value and its button to geet value add to the array-->
<form (ngSubmit)="geetFormSubmit(geetForm)" #geetForm="ngForm">
  <textarea class="form-control" id="" cols="30" rows="10" ngModel [(ngModel)]="textareaValue"
    name="geetBox"></textarea>
  <input class="file-input" type="file" name="fileUploadTag" ngModel (change)="onSelectFile($event)">
  <ng-container *ngIf="url!=''">
    <img [src]="url" width="75" height="75">
  </ng-container>
  <button class="btn btn-primary">Geet</button>
</form>
<!--iterating the geetvalue array using ngfor to dispaly one by one.-->
<div *ngIf="geetForm.submitted">
  <ng-container *ngFor="let geets of geetValue">
    <label class="form-control">{{geets}}</label>
  </ng-container>
  <div *ngIf="geetForm.submitted">
    <ng-container *ngFor="let img of geetImages">
      <img [src]="img" width="75" height="75"><br />
      <hr />
    </ng-container>
  </div>
</div>
